.install-after {
  padding-top: 75px;
  padding-bottom: 65px;
  box-sizing: border-box;
}

.install-after__title {
  width: 100%;
  padding-right: 10%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.install-after__text {
  @include indent;

  width: 100%;
  padding-right: 10%;
  box-sizing: border-box;
  margin-bottom: 75px;
}

.install-after__list {
  @include list;
  width: 100%;
  padding-bottom: 55px;

  @for $i from 1 through 6 {
    .install-after__item:nth-child(#{$i})::before {
      background-color: $white;
      -webkit-mask-image: url(../img/sprites.svg#icon_0#{$i});
      mask-image: url(../img/sprites.svg#icon_0#{$i});
      mask-repeat:no-repeat;
    }
  }
}
.install-after__item {
  width: 100%;
  padding-left: 150px;
  padding-top: 28px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 41px;
  min-height: 103px;

& b {
  color: $main-color;
}

  &::before {
    @include pseudo;
    width: 60px;
    height: 60px;
    left: 50px;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }
  &::after {
    @include pseudo;

    width: 103px;
    height: 103px;
    left: 0;
    top: 0;
    background-color: $accent-color;
    z-index: 5;
    border-radius: 50%;
  }
}
.install-after__button {
  margin-bottom: 33px;
}

@media(min-width: 320px) and (max-width: 380px) {
  .install-after__item {
    padding-top: 150px;
    padding-left: 0;
    min-height: 253px;
    text-align: center;

    &::before {
      left: 50%;
      top: 25%;
      transform: translate(-50%, -50%);
      z-index: 6;
    }
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
@include respond-to(large) {
  .install-after {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .install-after__title {
    margin-bottom: 18px;
    padding-right: 0;
  }
  .install-after__text {
    letter-spacing: 0.4px;
    padding-right: 0;
    margin-bottom: 57px;
  }
  .install-after__item {
    font-size: 18px;
    padding-left: 100px;
    padding-top: 17px;
    margin-bottom: 30px;
    min-height: 74px;

    & b {
      font-size: 24px;
    }

    &::before {
      @include pseudo;
      width: 52px;
      height: 52px;
      left: 37px;
      top: 62%;
    }

    &::after {
      width: 74px;
      height: 74px;
  }
}
.install-after__list {
  padding-bottom: 48px;
}
.install-after__button {
  display: inline-block;
  width: 26%;
  margin-right: 2%;
  min-width: 264px;
}

}
