.main-header {
  position: sticky;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 0 3px 7px rgba(0, 0, 2, 0.25);
  background-color: $white;
  z-index: 100;
  box-sizing: border-box;
  min-height: 150px;
  padding-top: 20px;
}

.main-header__wrapper {
  display: flex;
  width: 81.5%;
  min-height: 150px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: $center;
  box-sizing: border-box;
}

.main-header__logo {
  display: block;
  margin: $center;
  text-decoration: none;
  width: 36%;

  & img {
    width: 100%;
  }
}
@include respond-to(large) {
  .main-header {
    @include bgImage(-13vw 0);

    min-height: 100px;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    padding-top: 0;
  }
  .main-header__wrapper {
    width: 92%;
    align-items: baseline;
    min-height: 100px;
    margin-top: 0;
    justify-content: space-between;
  }
  .main-header__logo {
    order: 2;
    width: auto;
    margin: 0;

    & img {
      width: 114px;
      height: 28px;
    }
  }
}
