.main-nav {
  display: none;

  &.open {
    display: block;
    position: fixed;
    background: $white;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.95;
    transform-origin: right top;
    transform: scale(1);
    li {
      display: block;
      animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
      animation-delay: 0.4s;
      transform-origin: right bottom;
      &:nth-of-type(2) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.6s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.7s;
      }
      &:nth-of-type(5) {
        animation-delay: 0.8s;
      }
    }
  }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}
.main-nav__list {
  @include list;

  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 30%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.main-nav__link {
  @include font-style(18px, 20px, 400);

  display: block;
  margin-bottom: 20px;
  box-sizing: border-box;
  letter-spacing: 0;
  color: #393e6b;
  letter-spacing: 0.9px;
  text-decoration: none;
  cursor: pointer;
  color: $main-color;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:active {
    opacity: 0.5;
  }
}

@include respond-to(large) {
  .main-nav {
    display: flex;
    width: 89%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30px;
  }

  .main-nav__list {
    margin: 0;
    padding-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
 .main-nav__item {
   margin-right: 30px;
   &:last-child {
     margin-right: 0;
   }
 }
  .main-nav__link {
    @include font-style(18px, 20px,400);
      margin-bottom: 0;
      padding: 40px 0;
      letter-spacing: 0.9px;

        &:hover,
        &:focus {
          color: #006064;
        }
        &:active {
          color: #00838f;
        }
  }
}
