.title {
@include font-style(48px, 50px, 700);

text-transform: uppercase;
letter-spacing: 2.4px;
margin: 0;
padding: 0;
margin-bottom: 56px;
width: 100%;
box-sizing: border-box;
color: $main-color;
}

@media(min-width: 320px) and (max-width: 380px) {
  .title {
  @include font-style(38px, 40px, 700);
}
}
@include respond-to(large) {
  .title {
  @include font-style(30px, 40px, 700);
  letter-spacing: 0.75px;
  margin-bottom: 63px;
}
}
