@mixin font-face($family, $path, $weight, $style) {
  @font-face {
    font-family: $family;
    src: url("#{$path}.woff2") format("woff2"), url("#{$path}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin indent {
  margin: 0;
  padding: 0;
}

@mixin list {
  @include indent;

  list-style: none;
}

@mixin font-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  text-align: left;
}

@mixin bgImage($position) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: auto 100%; 
}

@mixin color-btn($color, $bg-color) {
  border: 3px solid $color;
  border-radius: 35px;
  background-color: $bg-color;
  color: $color;
}

@mixin respond-to($breakpoint) {
  $width-screen: map-get($breakpoints, $breakpoint);

  @media (min-width: $width-screen) {
    @content;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  display: $display;
  position: $pos;
  content: $content;
}
