$white: #ffffff;
$center: 0 auto;
$breakpoints: (
  "small": 320px,
  "medium": 751px,
  "large": 960px
);

$container: (
 "xs": 92%,
 "ml": 83.3%,
 "xl": 59.7%
);

$main-color: #393e6b;
$second-color: #74757b;
$accent-color: #2cd3b8;
$bg-color: #eff4f4;
$link-color: #0da088;
